* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #0a0e14;
  --main-text-color: #e6e1cf;
  --main-seconary-text-color: #5c6773;
  --main-highlight-color: #ffcc66;
  --main-link-color: #39bae6;

  --aside-background-color: #0f131a;
  --aside-text-color: #5c6773;

  --heading-text-color: #e6e1cf;

  --table-background-color: #0f131a;
  --table-border-color: #14191f;

  --form-border-color: #14191f;
  --input-background-color: #0f131a;
  --input-border-color: #14191f;
  --button-background-color: #14191f;
}

body {
  font-size: 1.25rem;
}

figure {
  margin: 0.75rem 0;

  code {
    font-size: 1rem;
  }

  img {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--table-border-color);
    background-color: var(--table-background-color);
    font-size: 0.75rem;
    text-align: center;
    overflow: hidden;

    th {
      border-bottom: 2px solid var(--table-border-color);
      font-weight: bold;
      color: var(--main-highlight-color);
    }

    td {
      border-bottom: 2px solid var(--table-border-color);
      color: var(--main-text-color);
    }
  }

  form {
    border: 0.25rem solid var(--table-border-color);

    input {
      background-color: var(--input-background-color);
      color: var(--main-text-color);
      border: 1px solid var(--input-border-color);
      padding: 0.5rem 0.75rem;
      border-radius: 6px;
      font-size: 1rem;
      outline: none;
      width: 100%;
    }

    button {
      background-color: var(--button-background-color);
      color: var(--main-text-color);
      padding: 0.5rem 1em;
      border-radius: 6px;
      font-size: 0.95em;
      cursor: pointer;
    }
  }

  figcaption {
    font-size: 0.9rem;
    color: var(--main-seconary-text-color);
  }
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  text-align: center;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

aside {
  display: none;
  padding: 2rem;

  background-color: var(--aside-background-color);
  color: var(--aside-text-color);

  a {
    background-color: var(--aside-background-color);
    color: var(--aside-text-color);
  }
}

ul {
  list-style-position: inside;
  padding-left: 1rem;
}

main {
  width: 100%;
  margin: auto;
  border-top: 1px solid var(--aside-text-color);
  border-bottom: 1px solid var(--aside-text-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--main-background-color);
  color: var(--main-text-color);

  a {
    color: var(--main-link-color);
  }
}

footer {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5rem 0;
  color: var(--heading-text-color);
}

hr {
  width: 75%;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;

  height: 2px;
  background-color: var(--main-text-color);
}

section {
  width: 90%;
}

strong,
b {
  color: var(--main-highlight-color);
}

@media (min-width: 640px) {
  /* sm */
  section {
    width: 80%;
  }
}

@media (min-width: 768px) {
  /* md */

  figure {
    table {
      font-size: 1.1rem;
    }
  }

  section {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  /* lg */
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
  }

  header {
    grid-area: header;
  }

  aside {
    display: block;
    grid-area: aside;
    top: 0;
    position: sticky;
    height: 100vh;
    align-self: start;
  }

  main {
    grid-area: main;
    width: 100%;
  }

  section {
    width: 50%;
  }

  footer {
    grid-area: footer;
  }
}

#print-add-form {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "inputs result"
    "btn btn";

  div {
    padding: 0.5rem;
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    grid-area: result;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    grid-area: btn;
    margin: 0.5rem;
    margin-top: 0;
  }
}

#fibb-form {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "inputs result"
    "btn btn";

  div {
    padding: 0.5rem;
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ol {
    grid-area: result;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 0.5rem;
    list-style-position: inside;

    li {
      flex-grow: 1;
    }
  }

  button {
    grid-area: btn;
    margin: 0.5rem;
    margin-top: 0;
  }
}
